
os:
  - linux
  - osx

dist: trusty
sudo: required

addons:
  apt:
    packages:
    - libsdl2-dev

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install sdl2; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install scons; fi

language: cpp

script:
    - mkdir build
    - cd build
    - cmake ..
    - make

compiler:
    - clang
    - gcc

